<section id="about">
  <q>Your time is limited, so don’t waste it living someone else’s life. 
  Don’t be trapped by dogma, which is living with the results of other people’s thinking. 
  Don’t let the noise of others’ opinions drown out your own inner voice. And most important, 
  have the courage to follow your heart and intuition</q> — Steve Jobs
  <p>Find me on..
    <a class="icon" target="_blank" href="#"><i class="fas fa-envelope"></i></a>
  </p>
</section>

<span class="h2">Topics</span>
<span class="">
  <a class="fs12" href="#">Postgres</a>
  <a class="fs12" href="#">AWS</a>
  <a class="fs12" href="#">Docker</a>
  <a class="fs12" href="#">Ruby</a>
  <a class="fs12" href="#">Rust</a>
  <a class="fs12" href="#">GA</a>
  <a class="fs12" href="#">kubernetes</a>
</span>

<section id="writing">
  <span class="h1"><a href="#">Writings</a></span>
  <span class="h2">Top recent</span>
  <ul class="post-list">      
      <li class="post-item">
        <div class="meta">2020-10-25</div>
        <span><%= link_to "Untitled", post_path %></a></span>
      </li>
      <li class="post-item">
        <div class="meta">2020-10-20</div>
        <span><%= link_to "Markdown Syntax Guide", post_path %></a></span>
      </li>
      <li class="post-item">
        <div class="meta">2020-10-15</div>
        <span><%= link_to "Rich Content", post_path %></a></span>
      </li>
      <li class="post-item">
        <div class="meta">2020-10-10</div>
        <span><%= link_to "Placeholder Text", post_path %></a></span>
      </li>
      <li class="post-item">
        <div class="meta">2020-10-05</div>
        <span><%= link_to "Math Typesetting", post_path %></a></span>
      </li>
  </ul>
</section>

<section id="projects">
  <span class="h1"><a href="#">Projects</a></span>
  <ul class="project-list">
      <li class="project-item">
        <a href="#">Kusege</a>: The world’s fastest framework for building websites.
      </li>
      <li class="project-item">
        <a href="#">Kusege Themes</a>: A curated directory of Kusege themes
      </li>
  </ul>
</section>

